.header {
  padding: 27px 0;
  background: var(--c-white);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: var(--c-white);

  &.hiden{
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }

  @media (max-width: $w_mob_tab) {
    padding: 45px 0;
    width: 300px;
    height: 100vh;
    min-height: 100%;

    position: fixed;
    top: 0;
    left: -300px;
    z-index: 100;

    overflow: auto;
    transition: 0.3s;

    .container {
      height: 100%;
      padding: 0;
      min-width: 100%;
    }

    &.open {
      left: 0;
    }
  }

  &__close {
    display: none;

    @media (max-width: $w_mob_tab) {
      width: 20px;
      height: 20px;
      display: block;

      position: absolute;
      top: -32px;
      right: 15px;
      z-index: 2;


      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMTdMMTcgMSIgc3Ryb2tlPSIjMzAzMDMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTE3IDE3TDEgMSIgc3Ryb2tlPSIjMzAzMDMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__arr {
    display: none;

    @media (max-width: $w_mob_tab) {
      .gr & {
        width: 26px;
        height: 16px;
        display: block;

        position: absolute;
        top: -32px;
        left: 15px;
        z-index: 2;

        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNyAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgOUw5IDEiIHN0cm9rZT0iIzMwMzAzMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjxwYXRoIGQ9Ik05IDE3TDEgOSIgc3Ryb2tlPSIjMzAzMDMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTI2LjUgOS41QzI2Ljc3NjEgOS41IDI3IDkuMjc2MTQgMjcgOUMyNyA4LjcyMzg2IDI2Ljc3NjEgOC41IDI2LjUgOC41VjkuNVpNMSA5LjVIMjYuNVY4LjVIMVY5LjVaIiBmaWxsPSIjMzAzMDMwIi8+Cjwvc3ZnPgo=");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__toggle {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;

    position: relative;
    top: -4px;
    left: 0;
    z-index: 2;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjEiIHJ4PSIwLjUiIGZpbGw9IiMzMDMwMzAiLz4KPHJlY3QgeT0iMTAiIHdpZHRoPSIyMCIgaGVpZ2h0PSIxIiByeD0iMC41IiBmaWxsPSIjMzAzMDMwIi8+CjxyZWN0IHk9IjIwIiB3aWR0aD0iMjAiIGhlaWdodD0iMSIgcng9IjAuNSIgZmlsbD0iIzMwMzAzMCIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $w_mob_tab) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__logo {
    flex-shrink: 0;

    @media (max-width: $w_tab) {
      img {
        width: 90px;
      }
    }

    @media (max-width: $w_mob_tab) {
      display: none;
    }

  }

  &__menu {
    @media (max-width: $w_mob_tab) {
      width: 100%;
    }

    ul {
      display: flex;
      align-items: center;

      @media (max-width: $w_mob_tab) {
        display: block;
        width: 100%;
      }

      & > li {
        display: flex;
        align-items: center;

        position: relative;

        @media (max-width: $w_mob_tab) {
          .gr & {
            display: none;
          }

          &.on {
            .gr & {
              display: block!important;
            }

            ul {
              li {
                display: block!important;
              }
            }
          }
        }

        @media (max-width: $w_mob_tab) {
          border-top: 1px solid var(--c-bg-main);

          &:last-of-type {

            @media (max-width: $w_mob_tab) {
              border-bottom: 1px solid var(--c-bg-main);
            }
          }
        }

        &.drop {
          & > a {
            padding: 10px 40px 10px 22px;

            background: var(--c-white);
            border-radius: 10px 10px 0 0;

            @media (max-width: 1350px) {
              padding: 10px 20px 10px 10px;
            }

            @media (max-width: $w_mob_tab) {
              padding: 17px 20px 17px 15px;
            }
          }
        }

        & > a {
          display: block;
          padding: 10px 22px;

          position: relative;
          z-index: 4;

          box-sizing: border-box;
          font-size: 16px;
          color: var(--c-black-brand);

          @media (max-width: $w_tab) {
            font-size: 14px;
          }

          @media (max-width: $w_mob_tab) {
            font-size: 18px;
            padding: 16px;
          }

          & + .ar {
            width: 15px;
            height: 15px;
            display: inline-block;

            position: absolute;
            right: 20px;
            top: 13px;
            z-index: 4;

            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgOSA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAzLjVMNC41IDEuNUw4IDMuNSIgc3Ryb2tlPSIjRDAyRDJGIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            transition: 0.3s;
            transform: rotate(180deg);

            filter: brightness(0);

            @media (max-width: 1350px) {
              right: 0;
              top: 15px;
            }

            @media (max-width: $w_tab) {
              top: 13px;
            }

            @media (max-width: $w_mob_tab) {
              display: block;
              height: 59px;
              top: 0;
              width: 54px;
              right: 4px;

              transform: rotate(90deg);
            }


          }
        }

        @media (max-width: $w_mob_tab) {
          &.on {
            & > ul {
              display: block;
            }
          }
        }

        & > ul {
          display: none;
          padding: 10px 23px;
          box-sizing: border-box;
          width: 270px;

          position: absolute;
          top: 25px;
          left: 0;
          z-index: 5;

          border-radius: 0 10px 10px 10px;
          background: var(--c-white);
          box-shadow: 0 32px 39px rgba(32,34,37,.15);

          @media (max-width: $w_mob_tab) {

            padding: 15px;
            margin: 0;
            height: calc(100vh - 52px);
            min-height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
          }

          & > li {
            display: block;
            margin-right: 0;

            border-bottom: 1px solid rgba(217,217,217,0.3);

            &:last-of-type {
              border-bottom: none;
            }

            &:first-of-type {
              display: none;
            }

            @media (max-width: $w_mob_tab) {
              &:first-of-type {
                display: block;
                border-top: none;
                margin-bottom: 6px;
                border-bottom: 0;
              }

              & > span {
                font-size: 18px;
                color: var(--c-red-brand);
                font-weight: 600;
              }
            }

            & > a {
              display: block;
              padding: 8px 0;

              box-sizing: border-box;
              font-size: 15px;
              color: var(--c-black-brand);
              box-shadow: none!important;

              @media (max-width: $w_mob_tab) {
                padding: 14px 0;
              }
            }

          }
        }

        @media (min-width: $w_mob_tab) {
          &:hover {
            & > a {
              box-shadow: 0 20px 40px rgba(32,34,37,.25);
              color: var(--c-red-brand);

              & + .ar {
                filter: inherit;
                transform: rotate(0);
              }
            }

            & > ul {
              display: block;
            }
          }
        }

      }
    }
  }

  &__r {
    display: flex;
    align-items: center;

    @media (max-width: $w_mob_tab) {
      display: block;
      padding: 25px 16px;

      box-sizing: border-box;

      .ds {
        display: none;
      }

      .bt {
        img {
          width: 19px;
        }

        & + .bt {
          margin-top: 14px;
        }

      }
    }

    .mb {
      display: none;

      @media (max-width: $w_mob_tab) {
        display: inline-flex;
      }
    }

    @media (max-width: $w_tab) {
      .bt {
        min-height: 38px;

        font-size: 14px;
        padding: 8px 13px;
      }
    }

    @media (max-width: $w_mob_tab) {
      .bt {
        font-size: 18px;
        padding: 11px 23px;
      }
    }
  }

  &__soc {
    display: none;
    margin-top: 30px;

    ul {
      display: flex;
      align-self: center;

      li {
        & + li {
          margin-left: 10px;
        }

        a {
          display: block;

          img {
            width: 32px;
            height: 32px;

          }
        }
      }
    }

    @media (max-width: $w_mob_tab) {
      display: block;
    }
  }

  &__lk {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;

    @media (max-width: $w_tab) {
      margin-left: 5px;

      img {
        width: 35px;
        height: 35px;
      }
    }

    @media (max-width: $w_mob_tab) {
      img {
        width: 40px;
        height: 40px;
      }
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__search {
    margin-left: 15px;

    @media (max-width: $w_tab) {
      margin-left: 5px;
    }


    @media (max-width: $w_mob_tab) {
      margin-left: 15px;
    }

    &-title {
      height: 45px;
      transition: 0.3s;
      cursor: pointer;

      @media (max-width: $w_tab) {
        height: 35px;

        img {
          width: 35px;
          height: 35px;
        }
      }


      @media (max-width: $w_mob_tab) {
        height: 40px;
        img {
          width: 40px;
          height: 40px;
        }
      }

      &:hover {
        transform: scale(0.9);
      }
    }

    &-drop {
      display: none;
      height: 52px;
      width: 85%;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 6;

      background: var(--c-white);

      @media (max-width: $w_mob_tab) {
        width: 91%;
        right: 15px;
      }

      @media (max-width: 665px) {
        width: 89%;
      }

      @media (max-width: 600px) {
        width: 87%;
      }


      @media (max-width: 500px) {
        width: 85%;
      }

      @media (max-width: 400px) {
        width: 83%;
      }

      @media (max-width: 350px) {
        width: 81%;
      }


      .open & {
        display: block;
      }
    }

    &-form {
      display: flex;
      align-items: center;

      input {
        width: 100%;
        height: 45px;
        padding: 9px 16px 9px 36px;

        font-size: 18px;
        box-sizing: border-box;
        border: 1px solid var(--c-black-brand);
        border-radius: 100px 0 0 100px!important;
        box-sizing: border-box;
        font-family: $font;

        &::-webkit-search-cancel-button{
          position: relative;
          right: 0;

          -webkit-appearance: none;
          height: 17px;
          width: 17px;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNzA5MjI5IDE3TDE2LjcwOTIgMSIgc3Ryb2tlPSIjMzAzMDMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTE2LjcwOTIgMTdMMC43MDkyMjkgMSIgc3Ryb2tlPSIjMzAzMDMwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
          background-repeat: no-repeat;
          background-position: center;
        }

        &:focus {
          outline: none!important;
        }

        @media (max-width: $w_mob_tab) {
          height: 40px!important;
        }
      }

      &-btn {
        height: 45px;
        width: 138px;
        display: flex;
        align-items: center;
        padding: 9px 22px;

        font-family: $font;
        font-size: 18px;
        color: var(--c-white);
        border: none;
        box-sizing: border-box;
        background: var(--c-red-brand);
        border-radius: 0 100px 100px 0;
        cursor: pointer;
        transition: 0.3s;
        flex-shrink: 0;

        img {
          margin-right: 11px;
        }

        &:hover {
          opacity: 0.85;
        }


        @media (max-width: $w_mob_tab) {
          width: 53px;
          height: 40px;
          padding: 16px;

          span {
            display: none;
          }
        }
      }
    }
  }
}

.header-mob {
  padding: 20px 0;
  
  box-sizing: border-box;
  background: var(--c-white);
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: var(--c-white);

  &.hiden{
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }


  @media (max-width: $w_mob_tab) {
    display: block;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__l {
    display: flex;
    align-items: center;
  }

  &__r {
    display: flex;
    align-items: center;
  }

  .header__logo {
    display: inline-block;

    img {
      width: 111px;
    }
  }
}